/*/ Universal Styles /*/
* {
    box-sizing: border-box;
}

body {
    background-color: #fdf7e9;
    margin: auto;
}

h2 {
    font-family: 'Lobster Two', serif;
    font-size: 35px;
    font-weight: 700;
    margin: 15px auto;
    padding-left: 6px;
}

p {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.container {
    border: #000 dotted 3px;
    border-radius: 25px;
    margin: 25px;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*/ Header /*/
header {
    height: 160px;
}

nav {
    background-color: #b0bd8b;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 0%;
    z-index: 20;
    width: 100%;
}

nav li {
    display: inline;
    margin: 30px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

nav a:hover {
    color: white;
    cursor: pointer;
}

nav a:active {
    color: #D8CA45;
}

h1 {
    font-family: 'Spicy Rice', serif;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 60px;
    font-weight: 400;
    text-shadow: -3px 3px 0px #FC9865;
    color: #000;
}

/*/ Colors /*/
.bluejeans {
    width: 190px;
    height: 130px;
    background-color: #8eb6c0;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: black solid 3px;
    border-radius: 15px;
    box-shadow: -5px 5px 0px 0px #000;
    display: inline-block;
}

.bluejeans p {
    position: relative;
    top: 11%;
}

.treegreen {
    width: 190px;
    height: 130px;
    background-color: #b0bd8b;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: black solid 3px;
    border-radius: 15px;
    box-shadow: -5px 5px 0px 0px #000;
    display: inline-block;
}

.treegreen p {
    position: relative;
    top: 11%;
}

.orangejuice {
    width: 190px;
    height: 130px;
    background-color: #FC9865;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: black solid 3px;
    border-radius: 15px;
    box-shadow: -5px 5px 0px 0px #000;
    display: inline-block;
}

.orangejuice p {
    position: relative;
    top: 11%;
}

.grassgreen {
    width: 190px;
    height: 130px;
    background-color: #D8CA45;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: black solid 3px;
    border-radius: 15px;
    box-shadow: -5px 5px 0px 0px #000;
    display: inline-block;
}

.grassgreen p {
    position: relative;
    top: 11%;
}

.pinklipgloss {
    width: 190px;
    height: 130px;
    background-color: #F7A0C8;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: black solid 3px;
    border-radius: 15px;
    box-shadow: -5px 5px 0px 0px #000;
    display: inline-block;
}

.pinklipgloss p {
    position: relative;
    top: 11%;
}

/*/ Fonts /*/
.font-label {
    font-size: 25px;
    font-weight: 700;
    text-decoration: solid underline black;
}

.regular-spicy-rice {
    font-family: 'Spicy Rice', serif;
    font-size: 20px;
    font-weight: 400;
}

.bold-spicy-rice {
    font-family: 'Spicy Rice', serif;
    font-size: 20px;
    font-weight: 900;
}

.italic-spicy-rice {
    font-family: 'Spicy Rice', serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.regular-lobster-two {
    font-family: 'Lobster Two', serif;
    font-size: 20px;
    font-weight: 400;
}

.bold-lobster-two {
    font-family: 'Lobster Two', serif;
    font-size: 20px;
    font-weight: 900;
}

.italic-lobster-two {
    font-family: 'Lobster Two', serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.regular-inconsolata {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 400;
}

.bold-inconsolata {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 900;
}

.italic-inconsolata {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

/*/ Text Styles /*/
li {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.h1-text-styles {
    text-align: left;
    position: relative;
    top: auto;
    margin: 15px 0px;
    text-shadow: none;
}

/*/ Footer /*/
footer {
    background-color: #8eb6c0;
    width: 100%;
    height: 40px;
}

footer p {
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 25%;
}